{%extends 'index.html' %}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{%endblock%}

{%block content%}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex navigationbar">
        <img src="{% static 'images/logo.png' %}" class="logo" alt="logo"> 
        <div class="d-flex">
            <form action="{%url 'authentication:login' %}" method = 'GET'>
                {% csrf_token %}
            <button class="btn btn-outline-success me-2" type="submit">Log In</button>
            </form>
            <form action="{%url 'authentication:signup' %}" method = 'GET'>
                {%csrf_token%}
            <button class="btn btn-sm btn-outline-secondary" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</nav>
{%endblock%}